body{
  background-color: #47a6ff66;
  margin: 0;
  font-family: sans-serif;
  color: #1e1e2a;
  background-image: url('iconpng.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-itens: flex-start;
  box-sizing: border-box;
  padding: 0, 112px;
  position: relative;
}

a {
  border-radius: 60%;
  font-size: 65px;
  text-transform: uppercase;
  latter-spacing: 4px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

a:hover{
  font-size: 75px;
}
